<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% load staticfiles %}<link rel="stylesheet" type="text/css" href="{% static "style_regi.css" %} ">
{% load staticfiles %}<link rel="shortcut icon" href="{% static "favi.ico" %}" /> 
{% load staticfiles %}<script type="text/javascript" src="{% static "js/jquery.js" %}"></script> 
{% load staticfiles %}<script type='text/javascript' src="{% static "js/jquery.particleground.min.js" %}"></script>
{% load staticfiles %}<script type="text/javascript" src ="{% static "js/index.js" %}"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<title>CS3240 Demo</title>
<base target="_top">
</head>

<body>  
  
<div id = "register_wrapper">  

  {% for field in form %}
    {{field.error}}
  {% endfor %}
  <form action="/accounts/register/" method="post">{% csrf_token %}
  {{form}}
  <input type="submit" value="Register" />
  </form>
  
</div>
</body>

</html>
